* {
  transition: all 0.5s ease; }

body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px; }

header,
section,
footer {
  border-bottom: 1px solid #e5e5e5; }

.text-separator-line, .section-header-underline {
  height: 1px;
  width: 250px;
  margin: 0 auto;
  border-top: 2px solid #c2c2c2;
  opacity: 0.75; }

.site-header {
  background-color: #fff;
  padding-bottom: 12.5px;
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 1px 1px 1px #929697; }

#owner-name-header {
  font-size: 27.5px; }
  #owner-name-header:hover, #owner-name-header:focus {
    text-decoration: none; }
  #owner-name-header #first-name-header {
    font-weight: bold;
    color: #333; }
    #owner-name-header #first-name-header:hover {
      color: #4DB870; }
  #owner-name-header #last-name-header {
    color: #373c40;
    margin-left: -7px; }
    #owner-name-header #last-name-header:hover {
      color: #4DB870; }

.menu-icon {
  cursor: pointer;
  margin-top: 40px; }

.large-menu {
  margin-top: 22.5px; }

.nav-pills li a {
  color: #373c40;
  background-color: #fff;
  text-transform: uppercase;
  font-size: 0.85em;
  font-weight: bold;
  border-radius: 0; }
  .nav-pills li a:hover, .nav-pills li a:focus {
    color: #4DB870;
    background-color: #fff; }
.nav-pills li a.active-section-link {
  color: #4DB870; }

.nav-stacked li {
  width: 100%;
  padding: 0;
  margin-top: 0;
  border-radius: 0;
  border-top: 1px solid #373c40; }
  .nav-stacked li:last-child {
    border-bottom: 1px solid #373c40; }

.nav-stacked > li + li {
  margin-top: 0; }

#mobile-menu-group {
  position: fixed;
  left: 0;
  right: 0;
  top: 81.5px;
  display: none; }
  #mobile-menu-group .container {
    padding: 0; }

.jumbotron {
  margin-top: 81.5px;
  margin-bottom: 0;
  padding: 0;
  width: 100%;
  height: 850px;
  background-image: url("../images/personal-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .jumbotron .container h2 {
    margin-top: 320px;
    text-align: center;
    color: #fff; }
    .jumbotron .container h2 #first-name {
      font-size: 60px;
      font-weight: bold; }
    .jumbotron .container h2 #last-name {
      font-size: 57.5px; }
  .jumbotron .container #job-title {
    color: #fff;
    font-size: 35px;
    text-align: center;
    margin: 15px auto; }
  .jumbotron .container #leading-statement {
    font-size: 25px;
    text-align: center;
    color: #fff;
    margin-top: 15px; }
  .jumbotron .container #learn-more {
    width: 200px;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 15px 30px;
    border-radius: 5px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent; }
    .jumbotron .container #learn-more:hover, .jumbotron .container #learn-more:active {
      text-decoration: none;
      background-color: #fff;
      color: #4DB870; }

#about .container .row .col-xs-12 .panel,
#about .container .row .col-sm-6 .panel {
  border-color: #fff;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2; }
  #about .container .row .col-xs-12 .panel .panel-heading,
  #about .container .row .col-sm-6 .panel .panel-heading {
    background: #fff;
    border: none; }
  #about .container .row .col-xs-12 .panel .panel-body,
  #about .container .row .col-sm-6 .panel .panel-body {
    font-size: 20px; }

.section-header {
  display: none;
  text-transform: lowercase;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: #373c40; }

.section-header-underline {
  display: none;
  width: 25px;
  border-color: #373c40;
  margin-bottom: 25px; }

#self-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  border-radius: 50%; }

#blurb {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #373c40;
  font-size: 20px; }
  #blurb p .highlighted-text {
    font-weight: bold;
    color: #373c40; }
  #blurb p:nth-child(even) {
    color: #929697; }

.skills-heading .skills-section-title {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 20px; }
  .skills-heading .skills-section-title:hover {
    cursor: pointer;
    color: #4DB870; }

.panel-body {
  display: none; }
  .panel-body .skills-list {
    list-style-type: none;
    padding: 0; }
    .panel-body .skills-list li {
      text-align: center; }

#projects .container-fluid .row .section-header {
  color: #fff; }
#projects .container-fluid .row .section-header-underline {
  border-color: #fff; }
#projects .container-fluid .row .col-xs-12,
#projects .container-fluid .row .col-sm-6 {
  padding: 0; }

.project-container {
  display: block;
  width: 100%;
  min-height: 525px;
  text-align: center;
  text-decoration: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.project-1 {
  background-image: url("../images/project-1.JPG"); }

.project-2 {
  background-image: url("../images/project-2.jpg"); }

.project-3 {
  background-image: url("../images/project-3.jpg"); }

.project-4 {
  background-image: url("../images/project-4.JPG"); }

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7); }
  .overlay .project-text {
    color: #fff;
    text-align: center;
    margin-top: 250px; }
    .overlay .project-text .project-title {
      font-size: 30px;
      font-weight: bold; }
    .overlay .project-text .project-desc {
      font-size: 20px; }
  .overlay:hover {
    background-color: rgba(0, 0, 0, 0.35); }

#connect {
  min-height: 800px;
  background-image: url("../images/contact.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.connect-box {
  margin-top: 250px;
  margin-right: auto;
  margin-left: auto;
  width: 320px; }

.fa {
  font-size: 35px;
  margin-right: 15px; }

.link-text {
  display: inline-block; }

#site-footer {
  height: 75px;
  border-top: 1px solid #e5e5e5;
  box-shadow: 1px 1px 1px 1px #929697; }
  #site-footer .copyright {
    margin-top: 30px;
    font-weight: bold; }
  #site-footer .github-link {
    margin-top: 20px; }

/*# sourceMappingURL=main.css.map */
